header,
main,
footer {
    padding-left: 300px;
}





body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;

}

main {
    flex: 1 0 auto;
}

/* Navbar */

nav {
    background-color: #ada3a3;
    font-family: 'Libre Baskerville', serif;
}

.logo-image {
    margin: 20px 22px 5px 29px;
}

.smaller-logo {
    height: 46px;
    margin: 10px 0px;
}

/* index */

.container_index {
    width: 100%;
    height: 150px;
}

.parallax-container {
    height: 150px;
}






/* Recipe */

.container_recipe {
    height: 300px;
    z-index: 0;
    position: relative;

}

.recipe-image {
    width: 100%;
}


#recipe-card-full {
    position: relative;
    z-index: 3;
    background-color: white;
    padding: 45px;
    border: 5px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}

.recipe-container {
    background-color: #eb007924;
    margin-bottom: 0px;
}

.category-icon {
    vertical-align: bottom;
    padding: 0px 4px 0px 0px;
}

.recipe-instructions {
    border: 3px solid black;
    padding: 4px 10px 2px 18px
}


/* recipe card */

.recipe-card {
    margin: 17px 10px;
    background-color: white;
    padding: 4px 4px 9px 4px;


}

.recipe-card-border {
    border: 1px solid black;
    background-color: #ada3a3;
    height: 75%;
    margin: 10px 5px 10px 5px;
    display: inline-block;



}

.recipe-card-spacing {
    padding: 0px 10px;
}

.recipe {
    font-weight: bold;
    display: inline;
    
}

.recipe-info-card {
    margin: 12px 8px 12px 8px;
}

/* add recipe */

.add-recipe {
    margin: 27px 0px;
}

.input-field {
    margin: 15px 20px;
}

.submit-button {
    text-align: center;
}

.prompt {
    margin: 20px 0px;
}

.add-category {
    margin: 20px 0px 0px 50px;
}

.range-field {
    margin: 30px 0px;
}

#flash-messages {
    background-color: #ffea48;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

/* footer */

.page-footer {
    padding-top: 0px;
    min-height: 0px;
    background-color: #ada3a3;
}

/* Media queries */

@media only screen and (min-width: 992px) {
    #logo-image-smaller {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}
