header,
main,
footer {
    padding-left: 300px;
}





body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;

}

main {
    flex: 1 0 auto;
}

.btn {
    background-color: #e80c79;
}

.btn:hover,
.btn-large:hover {
    background-color: white;
    color: black;
}

.btn:focus {
    background-color: white;
    color: black;
}

/* Navbar */

nav {
    background-color: #ada3a3;
    font-family: 'Libre Baskerville', serif;
}

.logo-image {
    margin: 20px 22px 5px 29px;
}

.smaller-logo {
    height: 46px;
    margin: 10px 0px;
}

/* index */

.light-pink {
    margin-bottom: 0px;
    background-image: linear-gradient(#eb007924, white);
}

.welcome-message-box {
    background-color: white;
    height: 362px;
    border: 3px solid black;
    margin: 25px 0px;
}

.welcome-message {
    text-align: center;
}

.welcome-links {
    margin: 35px 0px;
}

/* search recipes */


.container_index {
    width: 100%;
    height: 150px;
}

.parallax-container {
    height: 150px;
}

.card-button {
    padding: 2px 10px;
    margin: 15px 10px;
}

.card-button:hover {
    background-color: white;
    color: black;
}

.recipe-card-background-color {
    background-image: linear-gradient(#eb007924, white);
    min-height: 700px;
}



/* Recipe */

.container_recipe {
    height: 300px;
    z-index: 0;
    position: relative;

}

.recipe-image {
    width: 100%;
}


#recipe-card-full {
    position: relative;
    z-index: 3;
    background-color: white;
    padding: 45px;
    border: 5px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}

.recipe-container {
    background-image: linear-gradient(#eb007924, white);
    margin-bottom: 0px;
}

.category-icon {
    vertical-align: bottom;
    padding: 0px 4px 0px 0px;
}

.recipe-instructions {
    border: 3px solid black;
    padding: 4px 10px 2px 18px
}

.underline {
    text-decoration: underline;

}

.recipe-buttons {
    margin: 20px 0px 38px 0px;
}

/* recipe card (search) */

.limit-card-size {
    max-height: 90%;
}

.recipe-dropdown-title {
    color: black;
}

.recipe-description-stying {
    color: black;
    margin: 15px 0px;
}

.recipe-title {
    padding: 15px 15px 10px 15px;
    min-height: 68px;
}

.recipe-card {
    margin: 25px 0px 10px 0px;
    background-color: white;
    padding: 10px 13px 1px 13px;
    border: 3px solid black;
    min-height: 409px;
    position: relative;
}


.recipe {
    font-weight: bold;
    display: inline;

}

.recipe-info-card {
    margin: 18px 8px 12px 8px;
}

.recipe-link {
    position: absolute;
    bottom: -22px;
}

.author-recipe-card {
    margin: 0px;
    font-weight: bold;
}

/* add recipe */

.add-recipe {
    margin: 27px 0px;
}

.input-field {
    margin: 15px 20px;
}

.submit-button {
    text-align: center;
}

.prompt {
    margin: 20px 0px;
}

.add-category {
    margin-bottom: 0px;
    background-image: linear-gradient(#eb007924, white);
    padding: 20px;
}

.add-category-title {
    margin: 10px 0px 0px 0px;
}

.range-field {
    margin: 30px 0px;
}

#flash-messages {
    background-color: #ffea48;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

.category-input {
    margin: 30px 0px;
}

.input-field input:focus+label,
textarea:focus+label {
    color: #e80c79 !important;
}



.input-field input:focus,
textarea:focus {
    border-bottom: 1px solid #e80c79 !important;
    box-shadow: 0 1px 0 0 #e80c79 !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #e80c79;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #e80c79;
}

input[type=range]+.thumb {
    background-color: #e80c79;
}

/* search recipes */

.search-bar {
    
    
    background-color: #ada3a3;
    margin: 21px;
}






/* footer */

.page-footer {
    padding-top: 0px;
    min-height: 0px;
    background-color: #ada3a3;
}

.footer-icon {
    margin: 0px 10px;
    font-size: 25px;
}

.footer-icon i:hover {
    color: grey;
}

.adds-margin {
    margin: 10px 0px;
}

/* Media queries */

@media only screen and (min-width: 992px) {
    #logo-image-smaller {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .limit-width {
        max-width: 50%;
    }
}

@media only screen and (min-width: 1232px) {
    .limit-width {
        min-width: 31%;
        max-width: 0%;
    }


}
