<!--Base template from which all extend.
Also contains the navigation bar, footer and parallax images-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cuisine</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:400,700, 900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css" />
</head>
<header>
    <nav>
        <ul id="slide-out" class="side-nav fixed">
            <a href="{{url_for('welcome')}}"><img class="logo-image" src="{{url_for('static', filename='images/logo.png')}}" alt="Cuisine logo image"></a>
            <li><a href="{{url_for('welcome')}}">Home</a></li>
            <li><a href="{{url_for('search_recipes')}}">Search recipes</a></li>
            <li><a href="{{url_for('add_recipe')}}">Add a recipe</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <span id="logo-image-smaller">
            <img class="smaller-logo" src="{{url_for('static', filename='images/1-smaller-logo.png')}}" alt="Cuisine logo smaller image logo">
            <img class="smaller-logo xxs-screen-disappear" src="{{url_for('static', filename='images/2-smaller-logo.png')}}" alt="Cuisine logo smaller image cuisine">
        </span>
    </nav>
</header>

<body>
    <main>

        {% if request.endpoint == 'welcome' %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{url_for('static', filename='images/index.png')}}" alt="Cooking background image"></div>
        </div>

        {% elif request.endpoint =='recipe' %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{url_for('static', filename='images/recipe.png')}}" alt="Cooking background image"></div>
        </div>

        {% elif request.endpoint =='add_recipe' %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{url_for('static', filename='images/add_recipe.png')}}" alt="Cooking background image"></div>
        </div>

        {% elif request.endpoint =='search_recipes' %}

        <div class="parallax-container" style="height: 100px;">
            <div class="parallax"><img src="{{url_for('static', filename='images/search_recipe.png')}}" alt="Cooking background image"></div>
        </div>

        {% elif request.endpoint =='edit_recipe' %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{url_for('static', filename='images/edit_recipe.png')}}" alt="Cooking background image"></div>
        </div>

        {% else %} {% endif %}

        <div class="container-fluid">
            {% block content %} {% endblock %}
        </div>

        {% if request.endpoint == 'welcome' %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{url_for('static', filename='images/index.png')}}" alt="Cooking background image"></div>
        </div>

        {% elif request.endpoint =='recipe' %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{url_for('static', filename='images/recipe.png')}}" alt="Cooking background image"></div>
        </div>

        {% elif request.endpoint =='add_recipe' %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{url_for('static', filename='images/add_recipe.png')}}" alt="Cooking background image"></div>
        </div>

        {% elif request.endpoint =='search_recipes' %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{url_for('static', filename='images/search_recipe.png')}}" alt="Cooking background image"></div>
        </div>

        {% elif request.endpoint =='edit_recipe' %}

        <div class="parallax-container">
            <div class="parallax"><img src="{{url_for('static', filename='images/edit_recipe.png')}}" alt="Cooking background image"></div>
        </div>

        {% else %} {% endif %}

    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <p class="adds-margin left">© 2019 Copyright Text</p>
                <a class="grey-text text-lighten-4 right footer-icon" href="https://github.com/brookk16/Cuisine"><i class="fab fa-github-square"></i></a>
                <a class="grey-text text-lighten-4 right footer-icon" href="#!"><i class="fab fa-facebook"></i></a>
                <a class="grey-text text-lighten-4 right footer-icon" href="#!"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/materialize.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/search_bar.js')}}"></script>

</html>
