<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planned</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css" />
</head>
<header>
    <nav>
        <ul id="slide-out" class="side-nav fixed">
            <a href="#!"><img class="logo-image" src="static/images/planned-logo.png"></a>
            <li><a href="#!">First Sidebar Link</a></li>
            <li><a href="#!">First Sidebar Link</a></li>
            <li><a href="#!">Second Sidebar Link</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <span id="logo-image-smaller"><img class="smaller-logo" src="static/images/planned-logo.png"></span>
    </nav>
</header>

<body>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".button-collapse").sideNav();
    });
</script>

</html>
