<!--Templates handles the intial page users encounter upon visiting the site -->

{% extends 'base.html'%} {% block content %}
<div class="row light-pink">
    <div class="col s8 offset-s2 welcome-message-box">
        <div class="welcome-message">
            <h2>Welcome to Cuisine!</h2>
            <h4>for sharing recipes online</h4>
            <div class="welcome-links">
                <p>
                    Click below to start searching for recipes
                </p>
                <a class="waves-effect waves-light btn" href="{{url_for('search_recipes')}}">Search</a>
                <p> Or start adding your own by clicking below
                </p>
                <a class="waves-effect waves-light btn" href="{{url_for('add_recipe')}}">Add</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
