{% extends 'base.html'%} {% block content %}



<div class="row recipe-container">

    <div class="col s12 m8 offset-m1 l8 offset-l1" id="recipe-card-full">

        <div class="row">
            <div class="recipe-info ">
                <h3 name="recipe_name " id="recipe_name ">{{ recipe.recipe_name.capitalize() }}</h3>
            </div>
        </div>



        <div class="row">

            <p> {{ recipe.recipe_description }}</p>

        </div>

        <div class="row ">
            <div class=" col s6 recipe-ingredients ">
                <p name="recipe_name " id="recipe_name ">
                    {%for ingredient in recipe.ingredients.split(", ") %}

                    <li>{{ ingredient }}</li>

                    {% endfor %}
                </p>

            </div>

            <div class="col s6 recipe-category-info">

                <div class- "row">
                    <div class="col s12">
                        <p><i class="material-icons category-icon tooltipped" data-position="top" data-delay="30" data-tooltip="The type of meal this is">restaurant</i>: {{ recipe.meal_type.capitalize() }}</p>
                    </div>
                    <div class="col s12">
                        <p><i class="material-icons category-icon tooltipped" data-position="top" data-delay="30" data-tooltip="Where this recipe comes from or the style of food">flag</i>: {{ recipe.cuisine_type.capitalize() }}</p>
                    </div>
                    <div class="col s12">
                        <p><i class="material-icons category-icon tooltipped" data-position="top" data-delay="30" data-tooltip="The amount of time this food will take to prepare and cook">av_timer</i>: {{ recipe.cooking_duration }} mins</p>
                    </div>
                    <div class="col s12">
                        <p><i class="material-icons category-icon tooltipped" data-position="top" data-delay="30" data-tooltip="The amount of people this recipe will serve">person</i>: {{ recipe.serves }}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row ">
            <div class="recipe-instructions">
                <p name="recipe_name " id="recipe_name ">
                    {%for item in recipe.recipe_instructions.split(". ") %}

                    <li>{{ loop.index }}. {{ item }}</li>

                    {% endfor %}
                </p>
            </div>
        </div>

        <div class="row">
            <p class="col s4 m4 l3">Author:</p>
            <p class="col s6 m4 l4 underline">{{ recipe.author }}</p>
        </div>

    </div>
    
    <div class=" col s12 m2 l2 right recipe-buttons">
        <a class="waves-effect waves-light btn" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a>
    </div>
    
    <div class=" col s12 m2 l2 right recipe-buttons">
        <a class="waves-effect waves-light btn">Print</a>
    </div>
</div>


{% endblock %}
